/* general styles */
html, body {
	height: 100%;
	width: 100%;
	background-color: black;
}

/* padded section */
.pad-section {
	padding: 50px 0;
}
.pad-section img {
	width: 100%;
}

/* Navigation bar */
#Nav {
	opacity: 0.9;
	font-size: 1.2em;
}
#Nav a {
	color: red;
	font-weight: bold;
}

/* by default on devices with large screens */
#backup-image { display: none; }

/* verical-centered text on Home page */
.text-vcenter {
	position: relative;
	text-align: center;
	top: 30%;
	color: red;
	z-index: 20;
}
.text-vcenter h1 {
	font-size: 4.5em;
	font-weight: 700;
	margin: 0;
	padding: 0;
}
.text-vcenter p {
	font-size: 1.1em;
}

/* About me description */
.jumbotron {
	opacity: 0.8;
	background-color: black;
	color: white;
}

/* Project Panels */
#accordion {
	padding-top: 50px;
}
.panel .panel-heading {
	text-align: center;
	color: white;
	background-color: black;
	opacity: 0.8;
}


/* main page sections */
#home {
	/*background: url("http://derrowap.github.io/images/cities.jpg") no-repeat center center fixed;*/
	padding-top: 50px; /* Nav bar at top takes up this space */
	height: 100%;
	display: inline-block;
	position: relative;
	width: 100%;
	overflow: hidden;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#about { 
	background: url("http://derrowap.github.io/images/fort-wayne.jpg") no-repeat center center fixed;
	min-height: 100%;
	width: 100%;
	bottom: 5px;
	overflow: hidden;
	display: inline-block;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}	
#portfolio {
	background: url("http://derrowap.github.io/images/galaxy.jpg") no-repeat center center fixed;
	min-height: 100%;
	width: 100%;
	bottom: 10px;
	overflow: hidden;
	display: inline-block;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#contact {
	min-height: 100%;
	width: 100%;
	bottom: 5px;
	display: inline-block;
	position: relative;
}

/* Section Headers */
#section-header {
	background-color: black;
	color:red;
	opacity: 0.8;
	border: 2px solid red;
}
#section-header h2 {
	padding-bottom: 10px;
}

/* Setting fonts */
@font-face {
	font-family: "Raleway Light";
	src: url("raleway-light-webfont.eot?") format("eot"), url("raleway-light-webfont.woff") format("woff"), url("raleway-light-webfont.ttf") format("truetype");
}
h1, h2, h3, h4, h5, h6, a {
	font-family: "Raleway Light";
}
p, span, div {
	font-family: "Raleway Light";
	font-weight: 900;
}

/* small screen devices */
@media (max-height: 800px) {
	#home video { display: none; }
	#backup-image {
		display: inline-block;
		position: absolute;
		overflow: hidden;
		top: -200px;
		zoom: 100%;
		margin: auto;
	}
	#about .jumbotron { zoom: 75%; }
	.text-vcenter { zoom: 85%; top: 20%; }
	#section-header h1 { zoom: 80%;}
}