/* general styles */
html, body {
	height: 100%;
	width: 100%;
	background-color: black;
}

/* padded section */
.pad-section {
	padding: 50px 0;
}
.pad-section img {
	width: 100%;
}

#Nav {
	opacity: 0.8;
}

#Nav a {
	color: red;
	font-weight: bold;
}

.jumbotron {
	opacity: 0.8;
}

/* main page sections */
#home {
	padding-top: 50px; /* Nav bar at top takes up this space */
	height: 100%;
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* verical-centered text */
.text-vcenter {
	position: relative;
	/*display: table-cell;*/
	text-align: center;
	top: 300px;
	color: red;
	font-weight: 600;
	z-index: 20;
}
.text-vcenter h1 {
	font-size: 4.5em;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

#about { 
	background: url("http://derrowap.github.io/images/fort-wayne.jpg") no-repeat center center fixed;
	height: 100%;
	width: 100%;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#portfolio {
	background: url("http://derrowap.github.io/images/galaxy.jpg") no-repeat center center fixed;
	height: 100%;
	width: 100%;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#contact {
	height: 100%;
}

#section-header {
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: black;
	color:red;
	opacity: 0.8;
}

#section-header h2 {
	padding-bottom: 10px;
}

#accordion {
	padding-top: 50px
}
.modal { top:5%; bottom:5%; } .modal-body { max-height:100%; height:800px; }