/* general styles */
html, body {
	height: 100%;
	width: 100%;
	background-color: black;
}

/* padded section */
.pad-section {
	padding: 50px 0;
}
.pad-section img {
	width: 100%;
}

#Nav a {
	color: red;
}

/* verical-centered text */
.text-vcenter {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: red;
	font-weight: 600;
}
.text-vcenter h1 {
	font-size: 4.5em;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

/* main page sections */
#home {
	background: no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.fullscreen-bg {
	position: scroll;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: 0;
}

.fullscreen-bg_video {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%
	-webkit-transform: translate(-50%, -50%);
 	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#about { height: 800px; }

#portfolio {
	background: no-repeat center center fixed;
	display: table;
	height: 800px;
	width: 100%;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#contact {
	height: 800px;
}